version: "3.9"

services:
  backend:
    container_name: liver-backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    environment:
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password123
      MINIO_BUCKET: liver-files
      PYTHONPATH: /app
    volumes:
      - ./backend:/app/backend
      - ./model:/app/model
      - ./reconstruction3D:/app/reconstruction3D
    restart: always
    depends_on:
      - minio

  frontend:
    container_name: liver-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      VITE_API_BASE: http://localhost:8000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: always
    depends_on:
      - backend

  minio:
    image: minio/minio
    container_name: minio-storage
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  minio_data: